<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.nz.simpleryo.shop.domain.dao.OrdersMapper">
  <resultMap id="OrderDtoMap" type="co.nz.simpleryo.shop.domain.dto.OrderDto">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="buy_date" jdbcType="VARCHAR" property="buyDate" />
    <collection property="details" javaType="List" ofType="co.nz.simpleryo.shop.domain.dto.OrderDetailDto">  
        <result column="detail_id" jdbcType="BIGINT" property="id"/>  
	    <result column="name" jdbcType="VARCHAR" property="name" />
	    <result column="buy_amount" jdbcType="INTEGER" property="buyAmount" />
    </collection>  
  </resultMap>
</mapper>